<div class="container">
    <div class="row">
        <div class="header">
            <h1>Our Blog</h1>
            <p>Các blog của chúng tôi</p>
        </div>
        <div class="content">
            <div class="card" id="B1">
                <img src="/frontend/src/app/components/pages/blog/imgblog/B1/1.jpg">
                <h4>Gợi ý 9 món quà tết Tết Dương lịch cho trẻ em thiết thực</h4>
                <p>Nếu ba mẹ muốn chọn quà tết Tết Dương lịch đáp ứng cả 2 tiêu chí: được bé yêu thích và hữ dụng,...</p>
                <script>
                    // Lấy đối tượng nút và thêm sự kiện click
                    document.getElementById('B1').addEventListener('click', function() {
                      // Chuyển hướng đến liên kết khác khi nút được nhấn, lấy cái link bài viết trên face, ví dụ
                      window.location.href = 'C:\Users\WINDOWS\Documents\GitHub\kidom-web-project\frontend\src\app\components\pages\blog-detail\blog-detail.component.html';
                    });
                </script>
            </div>

            <div class="card" id="B2">
                <img src="/frontend/src/app/components/pages/blog/imgblog/B2/1.jpg">
                <h4>Dấu hiệu và cách xử lý thói quen không tốt ở trẻ</h4>
                <p>Ba mẹ nên chú ý đến những thói quen không tốt ở trẻ và xử lý từ sớm, nếu không...</p>
                <script>
                    // Lấy đối tượng nút và thêm sự kiện click
                    document.getElementById('B2').addEventListener('click', function() {
                      // Chuyển hướng đến liên kết khác khi nút được nhấn, lấy cái link bài viết trên face, ví dụ
                      window.location.href = 'B2.html';
                    });
                </script>
            </div>
        </div>

        <div class="content">
            <div class="card" id="B3">
                <img src="IMGBLOG/B3/1.jpg">
                <h4>Vì sao nhiều ba mẹ cho con theo học STEAM Education?</h4>
                <p>Trẻ em học STEAM thông qua LEGO Education vừa được vui chơi vừa tiếp cận kiến thức một cách nhanh chonhs, thúc đẩy...</p>
                <script>
                    // Lấy đối tượng nút và thêm sự kiện click
                    document.getElementById('B3').addEventListener('click', function() {
                      // Chuyển hướng đến liên kết khác khi nút được nhấn, lấy cái link bài viết trên face, ví dụ
                      window.location.href = 'B3.html';
                    });
                </script>
            </div>

            <div class="card" id="B4">
                <img src="IMGBLOG/B4/1.jpg">
                <h4>Lễ Giáng sinh đếm ngược còn mấy ngày?</h4>
                <p>Không khí Giáng sinh rộn rã đang cận kề, người người nhà nhà đều đã sẵn sàng cho lễ Giáng sinh đếm ngược chỉ còn 4 ngày...</p>
                <script>
                    // Lấy đối tượng nút và thêm sự kiện click
                    document.getElementById('B4').addEventListener('click', function() {
                      // Chuyển hướng đến liên kết khác khi nút được nhấn, lấy cái link bài viết trên face, ví dụ
                      window.location.href = 'B4.html';
                    });
                </script>
            </div>
        </div>

        <div class="content">
            <div class="card">
                <img src="IMG/Cute2.jpg">
                <h4>Lời chúc Giáng sinh tiếng Anh đáng yêu, hài hước</h4>
                <p>Bạn muốn gửi lời chúc Giáng Sinh tiếng Anh cho bạn bè, người thân hay giáo viên? Hãy tham khảo ngay bài viết này nhé.</p>
            </div>

            <div class="card">
                <img src="IMG/Cute3.jpg">
                <h4>Lời chúc Giáng sinh tiếng Anh đáng yêu, hài hước</h4>
                <p>Bạn muốn gửi lời chúc Giáng Sinh tiếng Anh cho bạn bè, người thân hay giáo viên? Hãy tham khảo ngay bài viết này nhé.</p>
            </div>
        </div>
    </div>
</div>

<script src="BLOGS.js"></script>