header {
    position: relative;
    padding: 0;
    font-family: myFontSub;
}
/*Top navbar*/
.navbar {
    background-color: #0D5D9C;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Chỉnh kích thước của icon lớn hơn chữ */
.col-md-4 .nav-link {
    font-size: 10px !important;
    color: #ffffff;
    transform: scale(1.5) !important;
    margin-right: 8px
}
/*căn phải ul giỏ hàng, đăng nhập*/
.nav-outer {
    margin-left: auto;
}

.col-md-4 .nav-link i {
    color: #ffffff; /* Màu trắng cho icon */
}
/* .container {
    display: flex;
} */

/*loại bỏ kiểu danh sách mặc định*/
/* ul {
    display: flex;
    list-style-type: none; 
} */
/*chiều rộng khoảng chứa dropdown*/
.dropdown-menu a{
    width: 100%;
    min-width: 8rem;
}

/*bottom navbar*/
.bottom-navbar {
    background-color: #407EC9;
    position: relative;
    z-index: 1000; /* Giữ giá trị này để đảm bảo nằm trên cùng */
    height: 50px;
    font-weight: bold;
    display: flex; /*điều chỉnh chữ nằm giữa thanh điều hướng*/
    align-items: center!important;
}
.bottom-navbar .nav-link {
    font-size: 16px;
}
/*khi trỏ chuột vào menu, background chuyển thành trắng và chữ chuyển thành xanh*/
.navbar-nav li:hover a {
    background-color: whitesmoke;
    color: #407EC9;
    cursor: pointer;
}
/* .nav-item {
    position: relative;
} */
.dropdown-menu{
    position: absolute;
    z-index: 1;
    background: whitesmoke;
    display: none;
}
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    column-count: 2; /* Thiết lập số cột trong dropdown */
    column-gap: 1rem; /* Khoảng cách giữa các cột */
}
/*chỉnh menu vào giữa*/
.navbar-nav, .navbar-nav a { 
    margin: auto;
    display: flex;
    align-items: center;
    color:#ffffff;
}




/* a{
    color: #e72929;
}

a:hover {
    background: #e72929;
    color: white;
    cursor: pointer;
}

.container{
    margin: 0;
    display: flex;
    justify-content: space-between;
}
a.logo{
    font-weight: bold;
    padding: 1rem;
}

ul{
    display: flex;
    list-style-type: none;
    margin: 0;
}
ul a{
    padding: 1rem;
    display: inline-block;
}
a span{
    background: #ff4d4d;
    color: #fff;
    padding: 0.1rem 0.45rem;
    border-radius: 100rem;
    font-size: 0.9rem;
}

.menu-container{
    position: relative;
}
.menu{
    position: absolute;
    z-index: 1;
    background: whitesmoke;
    display: none;
}
.menu-container:hover .menu{
    display: block;
}
.menu a{
    width: 100%;
    min-width: 8rem;
} */