<body [ngClass]="{'menu-active': menuActive}">
    <section class="top-section"  >
        <div class="container top-container">
            <div class="row pt-4">
                <div class="menu_icon" [class.menu_icon_Class]="menu_icon_variable" (click)="openMenu()">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div class="col-md-2 col-sm-12 col-12">
                    <a routerLink="/" class="logo justify-content-center">
                        <img src="assets/img/logo/logo-red.png">
                    </a>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-5 ol-sm-12 col-12">
                    <div class="search">
                        <app-search></app-search>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12 col-12 mb-2">
                    <ul class="nav justify-content-center nav-outer">
                        <li class="nav-item me-3">
                            <a routerLink="/account">
                                <i class="fa-solid fa-phone"></i> Tư vấn
                            </a>
                        </li>
                        <li class="nav-item me-3">
                            <a routerLink="/cart">
                                <i class="fa-solid fa-shopping-cart"></i> Giỏ hàng
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/login">
                                <i class="fa-regular fa-circle-user"></i> Đăng nhập /
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="/signup">
                                 Đăng ký
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="bottom-section">
        <div class="container bottom-section">
            <div class="row">
                
                <div class="menu-pro text-start">
                   
                    <div class="menu" [class.menuClass]="menuVariable">
                        <ul>
                            <li class="designbyu">
                                <a routerLink="/design-by-you" target="_blank" class="designbyu">
                                    <img src="assets/img/logo/designbyu.png">
                                </a>
                            </li>
                            <li>
                                <a routerLink="/" class="nav-link dropdown-toggle">Sản phẩm</a>
                                <div class="dropdown-menu">
                                    <a routerLink="/" class="dropdown-item">Action</a>
                                    <a routerLink="/" class="dropdown-item">Another action</a>
                                    <a routerLink="/" class="dropdown-item">Something else here</a>
                                </div>
                            </li>
                            <li>
                                <a routerLink="/" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Phổ biến
                                </a>
                                <div class="dropdown-menu dropdown-menu-dark">
                                    <a routerLink="/" class="dropdown-item">Action</a>
                                    <a routerLink="/" class="dropdown-item">Another action</a>
                                    <a routerLink="/" class="dropdown-item">Something else here</a>
                                </div>
                            </li>
                            <li>
                                <a routerLink="/" class="nav-link dropdown-toggle">Mới</a>
                            </li>
                            <li>
                                <a routerLink="/" class="nav-link dropdown-toggle">Khuyến mãi</a>
                            </li>
                            <li>
                                <a routerLink="/about-us" class="nav-link">Về Kidom</a>
                            </li>
                            <li>
                                <a routerLink="/blog" class="nav-link">Blog</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    
</body>

    
