<p>about-us works!</p>

<!-- Write your comments here -->
<!DOCTYPE html>
<hml lang="en">
<head>
    <title>About Us</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="about-us.component.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<!--body-->
<body>
    <!--header section starts-->
    <!--header section ends-->

    <!--body section starts-->
    <div class="body">
        <h1 class="title">về kidom</h1>

        <nav class="center">
            <a href="#section0">Slider Banner</a> |
            <a href="#section1">Các dòng sản phẩm</a> |
            <a href="#section2">SỨ MỆNH-TẦM NHÌN-GIÁ TRỊ CỐT LỖI</a> |
            <a href="#section3">Câu chuyện</a> |
            <a href="#section4">Cảm hứng</a> |
            <a href="#section5">Quy trình sản xuất</a> |
            <a href="#section6">Hệ thống cửa hàng</a>
        </nav>


        <section id="section0">
            <h3>SLIDER BANNER <br></h3>
            <p>Chèn</p>
        </section>
        
        <section id="section1">
            <style>
                #section1 h3 {
                    text-align: center;
                }
            </style>
            <h3>CÁC DÒNG SẢN PHẨM<br></h3>
            <div class="wapper">
                <div class="slide-container">
                    <div class="slide-content swiper mySwiper">
                        <div class="card-wrapper swiper-wrapper">
                             
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay">
            
                                    </span>
                                    <div class="card-image">
                                        <img src="IMG/1.png" alt="" class="card-img">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2 class="name">Đồ chơi ngoài trời</h2>
                                </div>
                             </div>
            
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay">
               
                                    </span>
                                    <div class="card-image">
                                        <img src="IMG/2.png" alt="" class="card-img">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2 class="name">Búp bê - Gấu bông</h2>
                                </div>
                            </div>
            
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay">
               
                                    </span>
                                    <div class="card-image">
                                        <img src="IMG/3.png" alt="" class="card-img">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2 class="name">Thủ công - Mỹ thuật</h2>
                                </div>
                            </div>
                            
                            <!--Này là một thẻ, muốn thêm thẻ thì copy phần này-->
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay">
               
                                    </span>
                                    <div class="card-image">
                                        <img src="IMG/4.png" alt="" class="card-img">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2 class="name">Hoá trang</h2>
                                </div>
                            </div>
                            <!--Hết thẻ-->

                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay">
               
                                    </span>
                                    <div class="card-image">
                                        <img src="IMG/5.png" alt="" class="card-img">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2 class="name">Thể thao</h2>
                                </div>
                            </div>

                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay">
               
                                    </span>
                                    <div class="card-image">
                                        <img src="IMG/6.png" alt="" class="card-img">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2 class="name">Trí tuệ</h2>
                                </div>
                            </div>

                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay">
               
                                    </span>
                                    <div class="card-image">
                                        <img src="IMG/7.png" alt="" class="card-img">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2 class="name">Mô hình - Lắp ráp</h2>
                                </div>
                            </div>

                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay">
               
                                    </span>
                                    <div class="card-image">
                                        <img src="IMG/8.png" alt="" class="card-img">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2 class="name">Hướng nghiệp</h2>
                                </div>
                            </div>

                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay">
               
                                    </span>
                                    <div class="card-image">
                                        <img src="IMG/9.png" alt="" class="card-img">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2 class="name">Games - Puzzle</h2>
                                </div>
                            </div>
            
                        </div>
                        <div class="swiper-button-next swiper-navBtn"></div>
                        <div class="swiper-button-prev swiper-navBtn"></div>
                        <div class="swiper-pagination"></div>    
                    </div>
                </div>
            </div>
        </section>
        
        
        <section id="section2">
            <h3>SỨ MỆNH-TẦM NHÌN-GIÁ TRỊ CỐT LỖI<br></h3>
            <h4>SỨ MỆNH</h4>
            <p>Sứ mệnh gì gì đó<br></p>
            <h4>Tầm nhìn gì gì đó</h4>
            <p>Chèn<br></p>
            <h4>Giá trị gì gì đó</h4>
            <p>Chèn<br></p>
        </section>
        
        <section id="section3">
            <h3>CÂU CHUYỆN<br></h3>
            <p>Chèn<br></p>
        </section>
        
        <section id="section4">
            <h3>CẢM HỨNG<br></h3>
            <p>Chèn ảnh dô đây đi<br></p>
        </section>
        
        <section id="section5">
            <h3>QUY TRÌNH SẢN XUẤT<br></h3>
            
        </section>
        
        <section id="section6">
            <h3>HỆ THỐNG CỦA HÀNG<br></h3>
            <p>Chèn link vào<br></p>
        </section>
    </div>
    <!--body section ends-->

    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
    <script src="aboutus.js"></script>
    
</body>
</html>