<body>
    <div class="background">
    <!-- Main Container -->
    <div class="container d-flex justify-content-center align-items-center min-vh-100">

    <!-- Login Container -->
        <div class="row border rounded-4 p-3 bg-white shadow box-area">

    <!-- left-box -->
        <div class="col-md-6 rounded-4 d-flex justify-content-center align-items-center flex-column left-box" style="background-color: #086A39;">
            <div class="featured-image mb-3">
                <img src="/assets/img/banner/loginbanner.png" class="img-fluid" style="width: 100%; border-radius: 5%;">
            </div>
            <p class="text-white fs-2" style="font-weight: 600px;">LẠI LÀ DGHOUSE</p>
            <small class="text-white text-wrap text-center" style="width: 17rem;">Chỗ này để ảnh đại, mình sẽ có ảnh để chạy chiến dịch noel hay gì đó ở đây</small>
        </div>

    <!-- right-box -->
        <div class="col-md-6 right-box">
            <div class="row align-items-center">
                <div class="header-text mb-1">
                    <p> Chào mừng bạn,
                        <b> Kidom </b> chúc bạn có một trải nghiệm mua sắm tuyệt vời!
                    </p>
                </div>
                <!-- Nhập họ và tên -->
                <div class="input-group mb-2" id="name">
                    <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Họ và tên">
                </div>
                <!-- Nhập Email -->
                <div class="input-group mb-2" id="email">
                    <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Email">
                </div>
                 <!-- Nhập Số điện thoại-->
                 <div class="input-group mb-2" id="phonenumber">
                    <input type="text" class="form-control form-control-lg bg-light fs-6" placeholder="Số điện thoại">
                </div>
                <!-- Nhập mật khẩu -->
                <div class="input-group mb-2" id="password">
                    <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Mật khẩu">
                </div>
                 <!-- Nhập lại mật khẩu -->
                 <div class="input-group mb-2" id="password*">
                    <input type="password" class="form-control form-control-lg bg-light fs-6" placeholder="Nhập lại mật khẩu">
                </div>
                
                <!-- Button -->
                <div class="input-group mb-2" id="btnsignup">
                    <button class="btn btn-lg btn-danger w-100 fs-6" onclick="thongbao()">Đăng ký</button>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
</body>