<!-- <main>
<div class="policy container-fluid">
<div class="row title">TERMS &amp; CONDITIONS &#8211; CHÍNH SÁCH CHUNG</div>
<div class="row text-1">Chào mừng bạn đến với <strong>KIDOM</strong>.<br />
Chúng tôi là Kidom, thương hiệu trực thuộc Công Ty TNHH Kinh tế - Luật có địa chỉ đăng ký tại 699 Quốc lộ 1A, Kp4, phường Linh Xuân, TP. Thủ Đức, Tp. Hồ Chí Minh. Giao Dịch Thương Mại Điện Tử thông qua website <a href="http://www.kidom.vn"><span style="font-weight: 400;">www.kidom.vn</span></a> đã được đăng ký chính thức với Bộ Công Thương Việt Nam.<br />
Khi bạn truy cập vào website <strong><a href="https://kidom.vn/">Ananas.vn</a></strong> đồng nghĩa với việc bạn đã đồng ý với các điều khoản sử dụng mà chúng tôi đưa ra. <strong>“Điều Khoản Sử Dụng”</strong> có thể được thay đổi, chỉnh sửa, thêm hoặc lược bỏ bất kỳ phần nào, bất kỳ lúc nào và có hiệu lực ngay khi được đăng tải.<br />
Dưới đây là chi tiết của <strong>“Điều Khoản Sử Dụng”</strong> mà chúng tôi mong muốn bạn nắm kỹ trong quá trình sử dụng website để có những trải nghiệm mua sắm an toàn và tốt nhất.</div>
<div class="row divider-1"></div>
<div class="row title-1">1. THƯƠNG HIỆU VÀ BẢN QUYỀN</div>
<div class="row cont">
<p>Mọi quyền sở hữu trí tuệ (đã đăng ký hoặc chưa đăng ký), nội dung thông tin và tất cả các thiết kế, văn bản, đồ họa, hình ảnh, video, âm nhạc, mã nguồn,… trong phạm vi website bạn đang xem đều thuộc sở hữu tài sản của <strong>Kidom</strong>. Toàn bộ nội dung của trang web được bảo vệ bởi luật bản quyền của Việt Nam và các công ước quốc tế.</p>
</div>
<div class="row divider-2"></div>
<div class="row title-1">2. QUY ĐỊNH VỀ TRUY CẬP VÀ SỬ DỤNG WEBSITE</div>
<div class="row cont">
<p>Khi truy cập vào website của chúng tôi, bạn cần đảm bảo việc bạn có đủ hành vi dân sự để thực hiện các giao dịch mua hàng theo quy định hiện hành của pháp luật Việt Nam. Hãy đảm bảo rằng bạn đã đủ 16 tuổi hoặc truy cập dưới sự giám sát của các thành viên trong gia đình hay người giám hộ hợp pháp.<br />
Trong suốt quá trình đăng ký, sử dụng website,&#8230; bạn có toàn quyền quyết định mình sẽ được nhận thư quảng cáo, tin tức về các chương trình khuyến mãi thông qua Email mà bạn đã đăng ký hay không. Nếu không muốn tiếp tục nhận Email từ <strong>Kidom</strong>, bạn cũng có toàn quyền từ chối bằng cách nhấp vào đường dẫn ở dưới cùng trong thư điện tử được gửi đến bất kỳ.<br />
<strong>Kidom</strong> không mong muốn bạn sử dụng bất kỳ chương trình, công cụ hay hình thức nào khác để can thiệp vào nội dung, hệ thống hay làm thay đổi cấu trúc dữ liệu của website chúng tôi. Các hình thức phát tán, truyền bá, cổ vũ không được phép hay can thiệp, thay đổi, xóa bỏ nội dung, cấu trúc dữ liệu hệ thống của chúng tôi một cách bất hợp pháp đều sẽ có hình thức xử lý từ <strong>Kidom</strong>. Mọi cá nhân hoặc tổ chức nếu vi phạm sẽ chịu truy tố trước pháp luật và phải bồi thường thiệt hại đã gây ra.</p>
</div>
<div class="row divider-2"></div>
<div class="row title-1">3. QUY ĐỊNH VỀ BẢO MẬT THÔNG TIN</div>
<div class="row cont">
<p><strong>Kidom</strong> luôn coi trọng việc bảo mật thông tin và cam kết sẽ sử dụng mọi biện pháp tốt nhất nhằm bảo vệ thông tin bạn đã cung cấp cho chúng tôi.<br />
Ở một mặt khác, bạn hoàn toàn có thể truy cập vào website và trình duyệt mà không cần phải cung cấp chi tiết cá nhân. Thông tin của bạn, nếu có, cũng đều sẽ được mã hóa để đảm bảo an toàn trong suốt quá trình giao dịch tại website <strong>Kidom</strong>. Riêng trường hợp được cơ quan pháp luật yêu cầu, chúng tôi sẽ buộc phải cung cấp những thông tin này cho các cơ quan pháp luật.<br />
Vui lòng xem kỹ hơn quy định tại phần Chính sách Bảo mật Thông tin</a>.</p>
<p><b>Kidom</b><span style="font-weight: 400;"> tuân thủ các biện pháp đảm bảo an toàn/ bảo mật thông tin tài khoản thanh toán cá nhân theo quy định của pháp luật cũng như các quy định và các khuyến nghị về giám sát của Ngân hàng Nhà nước.</span></p>
</div>
<div class="row divider-2"></div>
<div class="row title-1">4. ĐIỀU KHOẢN VỀ THÔNG TIN SẢN PHẨM, GIÁ CẢ, DỊCH VỤ VÀ CÁC NỘI DUNG KHÁC</div>
<div class="row cont">
<p>Chúng tôi cam kết sẽ cung cấp thông tin sản phẩm, giá cả, dịch vụ và nội dung khác chính xác nhất đến người dùng. Tuy nhiên, đôi lúc vẫn có sai sót xảy ra, ví dụ như trường hợp giá cả sản phẩm, phí vận chuyển, hình ảnh sản phẩm,… không hiển thị chính xác ở một vài thời điểm và trên một số thiết bị. Tùy theo từng trường hợp cụ thể, <strong>Kidom</strong> sẽ liên hệ trực tiếp nhằm hướng dẫn hoặc thông báo đến bạn để khắc phục và xử lý.</p>
</div>
<div class="row divider-2"></div>
<div class="row title-1">5. PHƯƠNG THỨC THANH TOÁN</div>
<div class="row cont">
<p><span style="font-weight: 400;">Hiện tại, chúng tôi đang có các phương thức thanh toán sau:</span></p>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Tại cửa hàng:</span>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Thanh toán bằng tiền mặt</span></li>
<li style="font-weight: 400;">Thanh toán bằng ví điện tử Momo</li>
<li style="font-weight: 400;">Thanh toán bằng thẻ, mã QR từ ví điện tử và các ứng dụng ngân hàng qua dịch vụ POS (Point of sale).</li>
</ul>
</li>
<li style="font-weight: 400;"><span style="font-weight: 400;">Đặt mua hàng tại website k</span><a href="https://www.kidom.vn/"><span style="font-weight: 400;">idom.vn</span></a><span style="font-weight: 400;">:</span>
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">COD (cash on delivery): là hình thức thanh toán trực tiếp bằng tiền mặt khi bạn nhận hàng.</span></li>
<li style="font-weight: 400;">Thanh toán bằng thẻ nội địa &#8211; được phát hành bởi các ngân hàng trong nước (Vietcombank, Vietinbank, Sacombank,…). Lưu ý: Thẻ của bạn cần được đăng ký dịch vụ thanh toán thực tuyến tại ngân hàng để có thể sử dụng được hình thức này.</li>
<li style="font-weight: 400;">Thanh toán bằng thẻ quốc tế &#8211; được các ngân hàng trong nước liên kết với những tổ chức thẻ quốc tế (Visa, Master Card, JCB,…) phát hành.</li>
<li style="font-weight: 400;">Thanh toán bằng QR Code thông qua cổng thanh toán điện tử.</li>
<li>Thanh toán bằng ví điện tử Momo.</li>
</ul>
</li>
</ul>
</div>
<div class="row divider-2"></div>
<div class="row title-1">6. CHÍNH SÁCH KHUYẾN MÃI</div>
<div class="row cont">
<p>Với mong muốn giúp bạn có những trải nghiệm mua sắm tốt nhất, <strong>Kidom</strong> sẽ áp dụng một số chính sách khuyến mãi cố định hoặc tùy thời điểm về phí giao hàng, quà tặng và ưu đãi đặc biệt, được ghi rõ tại <a href="https://kidom.vn/faqs/">FAQs</a> &#8211; mục “III. Chính sách Khuyến mãi”.</p>
</div>
<div class="row divider-2"></div>
<div class="row title-1">7. THAY ĐỔI HOẶC HỦY BỎ CÁC GIAO DỊCH</div>
<div class="row cont">
<p>Bạn được quyền thay đổi hoặc chấm dứt giao dịch theo hướng dẫn đã được ghi rõ tại phần <a href="https://kidom.vn/faqs/">FAQs</a> &#8211; mục <strong>“I. Mua Hàng &#8211; Đặt Hàng &#8211; Tra Cứu Đơn Hàng”</strong>.</p>
</div>
<div class="row divider-2"></div>
<div class="row title-1">8. QUY ĐỊNH ĐỔI HÀNG VÀ BẢO HÀNH</div>
<div class="row cont">
<p><strong>1. Quy định đổi hàng:</strong></p>
<ul>
<li style="font-weight: 400;">Với sản phẩm mua tại cửa hàng, thời hạn đổi sản phẩm là 07 ngày, tính từ ngày bạn mua hàng. Còn với sản phẩm mua online, thời hạn đổi sản phẩm là 14 ngày, tính từ ngày nhận được hàng.</li>
<li style="font-weight: 400;">Chỉ áp dụng đổi hàng 01 lần duy nhất cho tất cả sản phẩm.</li>
<li style="font-weight: 400;">Sản phẩm đổi phải còn mới, còn nguyên tem, hộp, nhãn mác và chưa có dấu hiệu đã sử dụng, đã giặt tẩy, bám bẩn hay biến dạng.</li>
<li style="font-weight: 400;">Kidom sẽ không áp dụng việc đổi hàng với các sản phẩm đang áp dụng chương trình Sale Off từ 50% trở lên, các sản phẩm thuộc phiên bản giới hạn (limited edition).</li>
<li style="font-weight: 400;">Việc đổi hàng chỉ áp dụng tại đúng kênh (cửa hàng) mà bạn đã mua hàng.</li>
<li style="font-weight: 400;">Không áp dụng việc trả hàng &#8211; hoàn tiền trong bất cứ trường hợp nào. Mong bạn thông cảm.</li>
<li style="font-weight: 400;">Kidom ưu tiên hỗ trợ đổi màu. Trong trường hợp mong muốn đổi sang 01 sản phẩm khác, chúng tôi vẫn hỗ trợ bạn:
<ul>
<li style="font-weight: 400;">Nếu bạn muốn đổi sang sản phẩm có giá trị cao hơn, bạn sẽ cần bù khoản chênh lệch tại thời điểm đổi (nếu có).</li>
<li style="font-weight: 400;">Nếu bạn muốn đổi sang sản phẩm có giá trị thấp hơn, chúng tôi sẽ không hoàn lại tiền.</li>
</ul>
</li>
</ul>
<p><span style="font-weight: 400;">Để đổi hàng, bạn có thể xem thêm hướng dẫn tại phần FAQs – mục “III. Quy định Đổi hàng – Bảo hành sản phẩm”.</span></p>
<p><strong>2. Quy định bảo hành:</strong></p>
<div class="row cont">
<ul>
<li style="font-weight: 400;"><span style="font-weight: 400;">Đối với tất cả sản phẩm, </span><span style="font-weight: 400;">Kidom hỗ trợ bảo hành trong vòng </span><b>06 tháng kể từ ngày mua</b><span style="font-weight: 400;"> với các trường hợp bung keo, sứt chỉ, hoặc 1 đổi 1 với trường hợp phát sinh lỗi từ trong quá trình sản xuất.</span></li>
<li>Để việc bảo hành thuận tiện và nhanh chóng hơn, bạn vui lòng vệ sinh sản phẩm sạch sẽ trước khi gửi về Kidom. Chúng tôi xin từ chối thực hiện việc bảo hành nếu như sản phẩm chưa được vệ sinh khi nhận.</li>
</ul>
<p><span style="font-weight: 400;">Để yêu cầu bảo hành sản phẩm, bạn có thể xem thêm hướng dẫn tại phần </span><a href="https://kidom.vn/faqs/"><span style="font-weight: 400;">FAQs</span></a><span style="font-weight: 400;"> – mục </span><b>“III. Quy định Đổi hàng – Bảo hành sản phẩm”</b><span style="font-weight: 400;">.</span></p>
</div>
<div class="row divider-2"></div> -->
